<p class="lead">Get list of players online on server with levels.</p>
<p class="lead">
	<form action="{{prefix}}api/features/get/online-players/">
		<input type="text" name="ip" placeholder="Server IP" class="form-control get-feature-input"/>
		<input type="number" name="port" placeholder="Port(default is 7171)" class="form-control get-feature-input"/>
		<button type="submit" class="btn btn-default get-feature-btn">Get</button>
	</form>
</p>
<br/>