$('form').on('submit', function(e) {
	e.preventDefault();
	var children = $(this).children('input');
	var length = children.length;
	var parameters = '';
	var form = $(this);
	children.each(function(index, item) {
		parameters += (index == (length - 1)) ? $(item).val() : $(item).val() + '/';
	});
	$.get("{{prefix}}" + form.attr('action') + parameters, function(data) {
		var html = '<div class="well well-lg well-result" style="display: hidden"><span class="glyphicon glyphicon-remove close-icon"></span>' + data + '</div>';
		var target = form.parent().parent();
		var elements = $('.well-result:visible');
		if(elements.length <= 0) {
			$('.masthead').fadeOut(500);
			$('.mastfoot').fadeOut(500);
			$('.site-wrapper-inner').prepend('<div class="top-cover"></div>');
			$('.cover-container').css('padding-top', '50px');
			$('.nav-tabs').removeClass('nav-justified').hide().addClass('masthead').css('margin-top', '10px').fadeIn(500);
		}
		$(html).hide().appendTo(target).fadeIn(500);
	});
});
$(document).on('click', '.close-icon', function() {
	var elements = $('.well-result:visible');
	if((elements.length - 1) == 0) {
		$('.masthead').fadeIn(500);
		$('.mastfoot').fadeIn(500);
		$('.top-cover').remove();
		$('.cover-container').css('padding-top', '0');
		$('.nav-tabs').addClass('nav-justified').removeClass('masthead').css('margin-top', '0');
	}
	$(this).parent().fadeOut(500);
});
{{#if active}}
$('a:contains("{{active}}")').parent().addClass('active');
{{/if}}