$('form').on('submit', function(e) {
	e.preventDefault();
	var children = $(this).children('input');
	var length = children.length;
	var parameters = '';
	var form = $(this);
	children.each(function(index, item) {
		parameters += (index == (length - 1)) ? $(item).val() : $(item).val() + '/';
	});
	$.get(form.attr('action') + parameters, function(data) {
		var html = '<div class="well well-lg well-result" style="display: hidden"><span class="glyphicon glyphicon-remove close-icon"></span>' + data + '</div>';
		var target = form.parent().parent();
		$('.masthead').fadeOut(500);
		$('.mastfoot').fadeOut(500);
		$(html).hide().appendTo(target).fadeIn(500);
	});
});
$(document).on('click', '.close-icon', function() {
	$(this).parent().fadeOut(500);
});
