<div class="inner cover">
	<p class="lead">
		<ul class="nav nav-tabs nav-justified">
			<li><a href="{{prefix}}features/get-server-status">Get Server Status</a></li>
			<li><a href="{{prefix}}features/get-online-players">Get Online Players</a></li>
			<li><a href="{{prefix}}features/get-player-status">Get Player Status</a></li>
		</ul>
	</p>
	{{#active}}
		{{>feature_module}}
	{{/active}}
</div>
<style>
.get-feature-btn {
	margin-left: 10px;
	margin-top: -3px;
}
.get-feature-input {
	width: auto;
	display: inline;
}
.well-result {
	background-color: #181818;
}
.close-icon {
	float: right;
	top: -20px;
	right: -20px;
	cursor: pointer;
}
</style>