<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css"/>
		<script src="javascripts/jquery-2.1.0.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>
	</head>
	<body>
		
	</body>
</html>