<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>

		<!-- Bootstrap -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
		<link href="stylesheets/cover.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">

					<div class="masthead clearfix">
						<div class="inner">
							<h2 class="masthead-brand">{{title}}</h2>
							<ul class="nav masthead-nav">
								<li><a href="/">Home</a></li>
								<li><a href="features">Features</a></li>
								<li><a href="contact">Contact</a></li>
							</ul>
						</div>
					</div>
					{{>content}}
					<div class="mastfoot">
						<div class="inner">
							<p>Template by <a href="https://twitter.com/mdo">@mdo</a>. Created by <a href="http://stackoverflow.com/users/2166409/daniel">Daniel "Kuzirashi".</a></p>
							<p>Visit project on <a href="https://github.com/Kuzirashi/node-server-manager/">GitHub</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="javascripts/jquery-2.1.0.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>
		<script>
		$('a[href="{{activeNav}}"]').parent().addClass('active');
		{{>script}}
		</script>
	</body>
</html>