.list-group-item {
	background-color: transparent;
}

.panel {
	background-color: transparent;
}

.nav-tabs {
	text-shadow: none;
}

.nav-tabs.nav-justified>li>a:hover {
	color: white;
	background-color: rgb(85, 85, 85);
};