.list-group-item {
	background-color: transparent;
}

.panel {
	background-color: transparent;
}

.nav-tabs {
	text-shadow: none;
}

.nav-tabs>li>a:hover {
	color: black;
}

.top-cover {
	background-color: rgba(0, 0, 0, 0.7);
	height: 52px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid white;
}